.homePage {
    color: #fff;
}

.bookmarkList {
    .createItem {
        margin: 0 auto 20px;
        width: 150px;
    }

    .deletePanel {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 20px;
        background-color:#18181b;
        box-shadow: 0 0 20px #a774f3;
        border-radius: 5px;

        h4 {
            width: 100%;
            text-align: center;
        }

        button {
            width: 50px;
        }
                                    
    }
}

.BookmarkItem {
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #18181b;
    height: 50px;
    overflow-x: auto;

    .info {
        display: flex;
        align-items: center;
        flex-grow: 1;
        height: 100%;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 5px;
            border-right: 1px solid #fff;
            text-align: center;
            word-break: break-all;
            overflow-y: auto;
        }

        .number {
            width: 30px;
            flex-shrink: 0;
        }

        .title {
            width: 165px;
            flex-shrink: 0;
        }

        .password {
            width: 100%;
            @media(max-width: 600px) {
                width: 135px;
            }
        }
    }

    .buttons {
        padding: 0 10px;
        display: flex;
        gap: 10px;
        flex-shrink: 0;
    }
}